<h1>Hoooooray!</h1>
<h2>New product was added to our shop!</h2>
<p>Below You can find a quick summary:</p>
    <ul>
        <li>Product name: {{ product.title }}</li>
        <li>Product price: {{ product.price }}</li>
        <li>Product quantity: {{ product.quantity }}</li>
    </ul>
<p>Again: We are really proud of You :-)</p>
